@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "reset.css";
/* components CSS */
@import "components/status-bar.css";
@import "components/header.css";
@import "components/user.css";
@import "components/bot-ctrlbar.css";
@import "components/badge.css";
@import "components/no-mobile.css";

/* screen CSS*/
@import "screen/index.css";
@import "screen/friend.css";
@import "screen/chats.css";
@import "screen/search.css";
@import "screen/more.css";
@import "screen/chat.css";
@import "screen/setting.css";

* {
    box-sizing: border-box;
  }
body{
  background-color:var(--bagcolor);
  height: 110vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.main-column{
  width: 100%;
  position: absolute;
  z-index: 2;
  padding:  0px var(--horizontal-space);
}
.bg-img{

  opacity: 0.5;
}
.bg-img-column{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 1;

}