.bot-ctrlbar{
    height: 70px;
    width: 90%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    background-color: #000000;
    padding: 0px 50px;
}
.fa-comment{
    position: relative;
}

@keyframes nolookAnimation{
    0%{
        transform: none;
    }
    50%{
    transform: translateY(-5px) rotateY(360deg);
    }
    100%{
    transform: none;
    }
}

.nolook-sm{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e65f3f;
    border-radius: 50%;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 8px;
    left: 10px;
    animation: nolookAnimation 2s ease-in-out infinite;

}

@keyframes appearBtnAnimation{
    from{
        transform: translateY(70px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.bot-ctrlbar a{
    transform: translateY(70px);
    opacity: 0;
    animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.bot-ctrlbar a:nth-child(2){
    animation-delay: 0.1s;
}
.bot-ctrlbar a:nth-child(3){
    animation-delay: 0.2s;
}
.bot-ctrlbar a:last-child{
    animation-delay: 0.3s;
}
    